.notification-container {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 20px 0;
    width: 300px;
}

@media only screen and (min-width: 901px) {
    .notification-container {
        width: 20%;
        left: initial;
        margin-right: initial;
        margin-left: initial;
    }
}


.notification-container>.Notification {
    margin-bottom: 1em;
}

.slide-up-enter {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 300ms, transform 300ms ease-out;
}

.slide-up-enter-active {
    opacity: 1;
    transform: translateY(0);
}

.slide-up-exit {
    opacity: 1;
}

.slide-up-exit-active {
    opacity: 0;
    transform: translateY(-40px);
    transition: opacity 300ms, transform 300ms ease-out;
}