.Notification {
    position: static;
    margin-left: auto;
    margin-right: 0;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.25);
    padding: 0.75em 1em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

.Notification .Notification__head > * {
    margin: 0;
    font-size: 18px;
    color: #170C3A;
    font-weight: 500;
}

.Notification .Notification__body > * {
    font-size: 16px;
    color: #170C3A;
}