.button {
    border-radius: 100px;
    padding: 0em 1.6em;
    height: 46px;
}

.button-float {
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align: center;
    border-radius: 50%;
    padding: 0;
    width: 56px;
    height: 56px;
    transition: transform 200ms ease-in-out 0ms;
}

.button-float.button-float--hide {
    transform: translateY(80px);
}

.button-flat {
    padding: 0;
    background-color: transparent;
}

.button,
.button-flat {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
}

.button,
.button-flat,
.button-float {
    cursor: pointer;
}

.button .button__icon,
.button-flat .button__icon {
    margin-right: 0.3em;
}

.button-float .button__icon {
    vertical-align: middle;
}

.grow-gradient {
    background: linear-gradient(110.82deg, #9BEB5D 0%, #12DB89 100%);
}

@media only screen and (max-width: 900px) {
    .h2-size {
        font-size: 26px;
    }
}

.highlight {
    background-color: #FFBB43;
}

.notification-container {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    width: 20%;
    padding: 40px 20px 0;
}

.notification-container > .Notification {
    margin-bottom: 1em;
}

.slide-up-enter {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 300ms, transform 300ms ease-out;
}

.slide-up-enter-active {
    opacity: 1;
    transform: translateY(0);
}

.slide-up-exit {
    opacity: 1;
    /* transform: translateY(0); */
    /* top: 0; */
}

.slide-up-exit-active {
    opacity: 0;
    transform: translateY(-40px);
    /* top: -40px; */
    transition: opacity 300ms, transform 300ms ease-out;
    /* transition: opacity 300ms, top 300ms ease-out; */
}