.button {
    border-radius: 100px;
    padding: 0em 1.6em;
    height: 46px;
}

.button-float {
    position: fixed;
    right: 30px;
    bottom: 40px;
    text-align: center;
    border-radius: 50%;
    padding: 0;
    width: 56px;
    height: 56px;
}

.button-flat {
    padding: 0;
    background-color: transparent;
}

.button,
.button-flat {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.button,
.button-flat,
.button-float {
    cursor: pointer;
}

.button .button__icon,
.button-flat .button__icon {
    margin-right: 0.3em;
}

.button-float .button__icon {
    vertical-align: middle;
}

.grow-gradient {
    background: linear-gradient(110.82deg, #9BEB5D 0%, #12DB89 100%);
}

@media only screen and (max-width: 900px) {
    .h2-size {
        font-size: 26px;
    }
}