.button {
    border-radius: 100px;
    padding: 0em 1.6em;
    height: 46px;
}

.button-float {
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align: center;
    border-radius: 50%;
    padding: 0;
    width: 56px;
    height: 56px;
    transition: transform 200ms ease-in-out 0ms;
}

.button-float.button-float--hide {
    transform: translateY(80px);
}

.button-flat {
    padding: 0;
    background-color: transparent;
}

.button,
.button-flat {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
}

.button,
.button-flat,
.button-float {
    cursor: pointer;
}

.button .button__icon,
.button-flat .button__icon {
    margin-right: 0.3em;
}

.button-float .button__icon {
    vertical-align: middle;
}

[class^="button"]:disabled {
    background-color: #DEDCE1 !important;
    color: rgba(0, 0, 0, 0.4);
}

.grow-gradient {
    background: linear-gradient(110.82deg, #9BEB5D 0%, #12DB89 100%);
}

@media only screen and (max-width: 900px) {
    .h2-size {
        font-size: 26px;
    }
}

.highlight {
    background-color: #FFBB43;
}

.notification-container {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 20px 0;
    width: 300px;
}

@media only screen and (min-width: 901px) {
    .notification-container {
        width: 20%;
        left: initial;
        margin-right: initial;
        margin-left: initial;
    }
}


.notification-container>.Notification {
    margin-bottom: 1em;
}

.slide-up-enter {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 300ms, transform 300ms ease-out;
}

.slide-up-enter-active {
    opacity: 1;
    transform: translateY(0);
}

.slide-up-exit {
    opacity: 1;
}

.slide-up-exit-active {
    opacity: 0;
    transform: translateY(-40px);
    transition: opacity 300ms, transform 300ms ease-out;
}