body {
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #4C4499;
	font-size: 18px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.form-group {
	position: relative;
}

.form-group input[type=text],
input[type=url],
select,
textarea {
	width: 100%;
}

.h1-size {
	font-size: 42px;
}

.h2-size {
	font-size: 36px;
}

.white-text {
	color: #fff;
}

a {
	color: #2497B2;
}

.container {
	margin: 0 auto;
	width: 70%;
	max-width: 960px;
}

label {
	color: #8F8A9B;
}

input[type="checkbox"] {
	position: relative;
	border-radius: 2px;
	width: 24px;
	height: 24px;
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: inset 0.5px 2.5px 7px 0 rgba(0, 0, 0, 0.25);
	-webkit-appearance: none;
}

input[type="checkbox"]:checked::after {
	content: "";
	position: absolute;
	top: 6px;
	left: 5px;
	border-radius: 1px;
	width: 13px;
	height: 13px;
	background-color: #30C3FC;
}

input[type="checkbox"]+label {
	padding-left: 12px;
	vertical-align: top;
}

button {
	border: none;
}

.mb0 {
	margin-bottom: 0;
}

.mt0 {
	margin-top: 0;
}

.mt12px {
	margin-top: 12px;
}

@media only screen and (max-width: 900px) {
	.container {
		width: 82%;
	}
}

@media only screen and (max-width: 600px) {
	.container {
		width: 94%;
	}
	.hide-above-600px {
		display: none !important;
	}

}

@media only screen and (min-width: 601px) {
	.show-below-601px {
		display: none;
	}
}